* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 435px;
    width: 765px;
}

input {
    display: block;
}

#main {
    padding: 30px;
    justify-content: center;
    height: 100%;
    width: 100%;
    /* font-family: Gilroy; */
    background-color: #222;
}

.card {
    max-width: 300px;
    margin-top: 40px;
    border-radius: 10px;
    display: inline-block;
    padding: 20px;
    border: 1px solid #555;
    color: white;
}

.profile {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 7px;
}

.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card p {
    font-size: 12px;
    margin-top: 10px;
}

.card h5 {
    margin-top: 3px;
}